@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
  }

  .card {
    @apply bg-white rounded-lg shadow-sm;
  }

  .card-header {
    @apply text-slate-600 text-xl font-medium;
  }

  .gradient-orange {
    @apply bg-gradient-to-b from-[#f05a28] to-[#c2410b]
  }

  .btn-bg-white {
    @apply p-2 rounded-lg hover:text-[#f05a28] transition-all duration-150 cursor-pointer
  }

  .btn-orange {
    @apply bg-[#f05a28] font-medium text-white hover:bg-orange-500/80 transition-all duration-100 rounded-lg shadow-md cursor-pointer
  }

  .btn-sidebar {
    @apply h-12 w-12 p-3 text-white hover:bg-white/10 rounded-lg cursor-pointer;

    &:hover {
      @apply bg-white/10;

      .btn-icon-sidebar {
        @apply scale-110;
      }
    }
  }

  .btn-icon-sidebar {
    @apply w-full h-full
  }

  .section-header {
    @apply text-3xl font-medium text-slate-600
  }

  .section-subheader {
    @apply text-slate-400
  }

  .section-header-tabs {
    @apply text-sm text-slate-400 font-extralight h-full w-24 items-center cursor-pointer
  }
}

.th-space {
  @apply px-4 py-2
}

.tb-space {
  @apply px-6 py-2
}

.dash-tr {
  @apply border-b border-slate-300/40 hover:bg-slate-200/10
}

.table-filter-1 {
  @apply text-center text-slate-400/80 font-medium bg-slate-200/40 px-3 py-1 hover:text-slate-600/80 focus:font-medium focus:text-white focus:border-[#f05a28] focus:rounded-md focus:bg-[#f05a28] focus:scale-105 focus:shadow-lg cursor-pointer transition-all duration-105
}

.table-req-th {
  @apply pl-8 py-2
}

.table-req-tr {
  @apply flex items-center pl-9 py-2
}

.pagination {
  @apply border border-slate-400 px-4 py-1 hover:border-[#f05a28] hover:text-[#f05a28] hover:shadow-md transition-all duration-105 cursor-pointer
}

.multi-toggle-buttons {
  /* 1. Set position relative globally to enable z-index */
  position: relative;

  @apply grid place-content-center text-center text-slate-400/80 font-medium bg-slate-200/40 w-full h-10 cursor-pointer
  /* 2. Use a slower transition for size/color, but instant for z-index */
  transition-all ease-in-out duration-300;

  /* 3. Inactive buttons sit at z-0 */
  z-index: 0;
}

.multi-toggle-buttons:hover {
  @apply text-slate-600/80;
  /* Lift slightly on hover */
  z-index: 5;
}

.multi-toggle-buttons:focus {
  @apply font-medium text-white border-[#f05a28] rounded-md bg-[#f05a28] scale-105 shadow-lg;
  /* 4. Lift highest on focus to cover neighbors during the scale-up */
  z-index: 20;
  outline: none;
}



.field-label {
  @apply font-medium
}