@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
  }

  .card {
    @apply bg-white rounded-md shadow-md;
  }

  .gradient-orange {
    @apply bg-gradient-to-b from-[#f05a28] to-[#c2410b]
  }

  .btn-bg-white {
    @apply p-2 rounded-md hover:bg-orange-50 hover:text-[#f05a28] transition-all duration-150 cursor-pointer
  }

  .btn-sidebar {
    @apply h-12 w-16 py-2 px-2 text-white hover:bg-white/10 rounded-md cursor-pointer;

    &:hover {
      @apply bg-white/10 transition-all duration-150;

      .btn-icon-sidebar {
        @apply scale-110 transition-all duration-150;
      }
    }
  }

  .btn-icon-sidebar {
    @apply w-full h-full
  }

  .section-header {
    @apply text-4xl font-medium text-slate-600
  }

  .section-subheader {
    @apply text-slate-400
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */