@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
  }

  .card {
    @apply bg-white rounded-lg shadow-sm;
  }

  .card-header {
    @apply text-slate-600 text-xl font-medium;
  }

  .gradient-orange {
    @apply bg-gradient-to-b from-[#f05a28] to-[#c2410b]
  }

  .btn-bg-white {
    @apply p-2 rounded-lg hover:text-[#f05a28] transition-all duration-150 cursor-pointer
  }

  .btn-orange {
    @apply bg-[#f05a28] font-medium text-white hover:bg-orange-500/80 transition-all duration-100 rounded-lg shadow-md cursor-pointer
  }

  .btn-sidebar {
    @apply h-12 w-12 p-3 text-white hover:bg-white/10 rounded-lg cursor-pointer;

    &:hover {
      @apply bg-white/10;

      .btn-icon-sidebar {
        @apply scale-110;
      }
    }
  }

  .btn-icon-sidebar {
    @apply w-full h-full
  }

  .section-header {
    @apply text-3xl font-medium text-slate-600
  }

  .section-subheader {
    @apply text-slate-400
  }

  .section-header-tabs {
    @apply text-sm text-slate-400 font-extralight h-full w-24 items-end hover:text-slate-600 focus:border-b-3 focus:text-[#f05a28] focus:font-bold transition-all duration-150 cursor-pointer
  }
}

.th-space {
  @apply px-4 py-2
}

.tb-space {
  @apply px-6 py-2
}

.dash-tr {
  @apply border-b border-slate-300/40 hover:bg-slate-200/10
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */